@model Disquera.Models.VistasVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="style="#">
    <header class="lh-lg">
        <div class="card">
            <div class="card-img-top ">
                <img class="bg-body" src="~/imagenes/disque1.jpg" style=" width:100%; height:50%;" />
                <h1 class="display-6 text-center">Welcome</h1>
            </div>

        </div>

    </header>
</section>

