
<div class="row">
    <div class="col-3">
        <button class="btn btn-success  form-control" type="submit">Actualizar</button>

    </div>
    <div class="col-3">
        <a asp-action="Index" class="btn btn-primary form-control">Regrsar</a>
    </div>
</div>