@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">

    <div class="row">
        <div class="col">
            <h3>Genero Musicar</h3>
        </div>

        <div class="col-4">
            <a class="btn btn-success" asp-action="Create"> <i class="fas fa-plus"></i>Crear Nuevo Genero</a>
        </div>
    </div>

    <table class="table table-bordered table-striped border" id="tblgeneros">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>                
                <th>Options</th>
            </tr>
        </thead>
    </table>
</div>


@section Scripts{
    <script src="~/js/Generos.js"></script>
}
